body {
   background-color: aquamarine;
}

h1 {
   color:red;
   background-color: beige;
}

p {
   /* font-size: 10px; */
   font-size: 1.4em;
   font-weight: bold;
   font-style: italic;
   text-align: right;
   text-decoration: underline;
}

li {
   list-style:disc;
}

div {
   width: 450px;
   height:180px;
   background-color:beige;
   border-top-style: solid;
   border-top-width: 5px;
   border-top-color: red;
}

.my-div-style-1 {
   width:650px;
   background-color: white;
}

#my-div-style-2{
   background-color: yellowgreen;
}

.my-div-border-style-1{
   border-bottom: dotted 12px blue;
}

.my-div-border-style-2{
   border: dotted 12px blue;
}

h1, h3 {
   text-align: center;
}

.