<style>
    img{
        width: 20%;
        margin: 6px;
    }
</style>

<img src="img.png" alt=""><img src="img.png" alt="">
<img src="img.png" alt=""><img src="img.png" alt="">
<img src="img.png" alt=""><img src="img.png" alt="">
<img src="img.png" alt=""><img src="img.png" alt="">
<img src="img.png" alt=""><img src="img.png" alt="">
<img src="img.png" alt=""><img src="img.png" alt="">
<img src="img.png" alt=""><img src="img.png" alt="">