.container-1, .container-2{
   width:800px;
   background-color:antiquewhite;
   border:solid 10px blue;
   margin:auto;
   min-height: 150px;
   margin-bottom: 10px;
}

.container-1 div, .container-2 div{
   width:350px;
   background-color:aqua;
   border:solid 1px black;
   font-size: 3em;
   font-weight: bold;
   height:70px;
}

.container-1 .div-2{
   margin-top:10px;
   margin-bottom: 10px;
   margin-left: 100px;
}

.container-1{
   box-sizing: border-box;
   min-height: 350px;
   position: relative;
}

.container-2{
   padding-left:200px;
   box-sizing: border-box;
   padding-top: 20px;
}

.container-1 .pos-1{
   position:absolute;
   right: 20px;
   bottom:40px;
}

.container-1 .z-1, .z-2, .z-3{
   position: absolute;
}

.container-1 .z-1 {
   background-color:burlywood;
   width: 550px;
   z-index: 3;
}

.container-1 .z-2{
   background-color: brown;
   width: 450px;
   top:25px;
   z-index: 2;
}

.container-1 .z-3{
   top:50px;
   z-index: 8;;
}