div {
   border: solid 1px black;
   width: 50%;
   min-height: 40px;
   background-color: antiquewhite;
   margin: 10px auto;
   padding: 10px;
}

div p {
   min-height: 10px;
   background-color: aqua;
}

#p3, #p4{
   background-color: blueviolet;
   width: 50%;
   color:white;
   font-size: 25px;
}

.p2{
   background-color: crimson;
   width: 70%;
}

.example1{
   min-height: 70px;
   width: 100%;
   border:solid 10px blue;
   box-sizing: border-box;
}

.example2{
   border-radius: 20px 30px;
   background-color: cornflowerblue;
   width: 80%;
}