.container{
   width: 60%;
   min-height: 100px;
   background-color: aqua;
   border: solid;
   margin: 10px auto;
   padding: 10px;
}

@keyframes anime1 {
   from {background-color: red;}
   to {background-color: yellow; border-radius: 50%; border-width: 10px;}
 }

 
@keyframes anime2 {
   0% {background-color: red;}
   30% {background-color: yellow; border-radius: 50%; border-width: 10px; margin-left: 0px;}
   75% {background-color: green; border-radius: 50%; border-width: 10px; margin-left: 400px; width: 200px; height: 200px;}
   100% {background-color: green; border-radius: 50%; border-width: 10px; margin-left: 400px; width: 100px; height: 100px;}
 }

.item{
   width: 200px;
   height: 200px;
   background-color: red;
   border: solid;
   animation-name: anime2;
   animation-duration: 2s;
   animation-iteration-count: 3;
   animation-direction: alternate;
}