.container1, .container2 {
   width: 70%;
   min-height: 650px;
   background-color: bisque;
   border: solid;
   margin: auto;
   margin-bottom: 10px;
}

.container1{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   /* align-items: stretch; */
   flex-wrap: wrap;
   /* align-content: space-around; */
}

.container1 .item, .container2 .item{
   min-width: 200px;
   min-height: 140px;
   background-color: aqua;
   border: solid 3px red;
   font-size: 3em;
   text-align: center;
   box-sizing: border-box;
}

.container1 .item{
   width: 33%;
   /* flex-grow: 1; */
}